<!DOCTYPE html>
<html>
<head>
  <% include ../partials/_header %>
</head>
<body>
  <% if(user) {%>
    <% if (urls[shortURL] && urls[shortURL].user_id === user.user_id) { %>
    <h1>ShortURL: <%= shortURL %></h1>
    <div>
      <form action="/urls/<%= shortURL %>?_method=PUT" method="POST">
        <input type="text" name="newURL" value="<%= urls[shortURL].longUrl %>"/>
        <button type="submit">Update</button>
      </form>
    </div>
    <br>
    <br>
      <% if (Object.keys(urls[shortURL].visitors).length > 0){ %>
        <h1>This URL has been visited <%= Object.keys(urls[shortURL].visitors).length %> time(s); by <%= uniqueVisitors.length %> unique visitor(s)<h1>
        <ul>
        <% for (var visit in urls[shortURL].visitors) { %>
          <li> <%= urls[shortURL].visitors[visit] %> visited at <%= visit %></li>
        <% } %>
        </ul>
      <% } else { %>
        <h1>This URL has not been visited </h1>
      <% } %>
    <% } else { %>
    <p>Not your URL</p>
    <% } %>
  <% } else { %>
    <h1>Not logged in</h1>
  <% } %>
  <a href="/urls">Back to URL list</a>

</body>
</html>