
<!DOCTYPE html>
<html>
<head>
  <% include ../partials/_header %>
</head>
<body>

  <% for (var key in urls){ %>
    <% if (urls[key].user_id === user.user_id){ %>
    <div class="url">
      <p><%= key %> ---> <a href="<%= urls[key].longUrl %>"><%= urls[key].longUrl %></a></p>
    </div>
    <div>
      <a href="/urls/<%= key %>/">Edit</a>
    </div>
    <div>
      <form method="POST" action="/urls/<%= key %>?_method=DELETE"">
        <input type="submit" value="Delete">
      </form>
    </div>
    <br>
    <% } %>
  <% } %>
  <% if (user) { %>
    <h1><a href="/urls/new">Shorten a new URL!</a></h1>
  <% } else { %>
    <h1>Not logged in</h1>
  <% } %>

</body>
</html>
